body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

  background-image: url("avengerslogo.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

p {
  background: linear-gradient(
    135deg,
    rgb(9, 14, 11) 0%,
    rgb(21, 44, 27) 50%,
    rgb(29, 77, 41) 75%,
    rgb(168, 178, 185) 100%
  );

  padding: 20px;
  border-radius: 10px;
  color: white;
  line-height: 1.6;
}

h2 {
  color: #f8fafc;
}

header {
  background: rgba(51, 51, 51, 0);
  color: #f8fafc;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(243, 243, 242, 0.35);
}

nav {
  background: rgba(85, 85, 85, 0);
  padding: 10px;
  text-align: center;
  box-shadow: 0 3px 8px rgba(243, 243, 242, 0.35);
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

a {
  position: relative;
}

a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 0;
  height: 4px;

  background: linear-gradient(90deg, rgb(35, 42, 46) 0%, rgb(20, 60, 35) 100%);
  border-radius: 0;

  transition: all 0.5s ease-in-out;
}

a:hover::before {
  width: 100%;
  border-radius: 50%;
}

main {
  padding: 20px;
  box-shadow: 0 6px 20px rgba(243, 243, 242, 0.35);
}

section {
  background: rgba(255, 255, 255, 0);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(243, 243, 242, 0.35);
}

.gal-pic table {
  width: 100%;
  border-collapse: collapse;
}

.gal-pic td {
  padding: 25px;
  vertical-align: middle;
}

.gal-pic img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.gal-pic h2 {
  margin-bottom: 10px;
}

footer {
  background: rgba(51, 51, 51, 0);
  color: white;
  text-align: center;
  padding: 15px;
  box-shadow: 0 -4px 12px rgba(243, 243, 242, 0.35);
}
